/* rodape */

.baseboard-content{
	height: 5%;
}

.baseboard-content table {
    background-color: black;
    border: 10%;
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 30px black;
    z-index: 1;
}

.baseboard-content tr{
    text-align: center;
    align-items: stretch;
}
