.body-content {
    height: 88vh;
    width: 84.9%;
    background-color: ghostwhite;
    float: right;
    position: fixed;
    top: 10%;
    left: 15.5%;
    font-family: monospace;
}

.body-content table {
    border-spacing: 0;
    border: 0.1%;
    text-align: center;
    width: 110%;
    line-height: 300%;
    border-style: solid;
    border-color: black;
}

.body-content th {
    border-bottom: 0.1%;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: black;
    border-right-color: black;
    border-left-color: black;
    background: gray;
    color: aliceblue;
}

.body-content td {
    border-bottom: 0.1%;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: black;
    border-left-color: black;
    font-family: monospace;
}
