/* Fonte cabeçalho */
.header-content {
    height: 10%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    box-shadow: 0px 0px 30px black;
    z-index: 1;
}

.header-content p {
    display: flex;
    height: 100%;
    color: aliceblue;
    font-family: monospace;
    font-size: 200%;
}
