/* div menu */
.menu-content {
    background-color: ghostwhite;
    width: 15%;
    position: fixed;
    top: 10%;
    left: 0;
    box-shadow: 0px 0px 15px black;
    z-index: 0.9;

}
.menu a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: monospace;
}

.menu-content tr {
    width: 100%;
    font-size: 170%;
    text-align: center;
    text-decoration-color: black;
    color: black;

}

.menu-content tr hover: {
    padding: 5%;
    background-color: darkgrey;
}

.menu-content td {
    color: black;
    padding: 7%;
}
