div {
    height: 300%;
    font-family: monospace;
}

div img {
    height: 10%;
}

p {
    font-family: monospace;
    font-size: 25px;
}

.page table {
    width: 100%;
    color: black;
}

.img_size {
    height: 23%;
    border-style: none;
}

/* conteiner */

#content-frame {
    width: 100%;
    height: 100%;
    border-style: none;
}

a.linkMenu {
    text-decoration: none;
    color: #2A1337;
    cursor: pointer;
}

a.linkMenu:hover {
    color: gray;;
    font-weight: bold;
}