table {
    color: #333;
    font-family: monospace;
    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: 1px solid #CCC;
    height: 30px;
}

th {
    background: #D3D3D3;
    font-weight: bold;
    width: 14%;
}

td {
    background: #FAFAFA;
    text-align: center;
}

.text-view {
    width: 100%;
    height: 100%;
    border-style: none;
}
.div-text {
    float: right;
    display: flex;
    width: 40%;
    height: 70vh;
}

.div-table {
    float: left;
    display: flex;
}