td, tr {
    align-items: center;
    padding: 1%;
    padding-bottom: 2%;
}

table {
    width: 100%;
}

.main {
    padding: 1%;
}

.row-label img {
    height: 200px;
    width: 250px;
}

.header-team {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #333;
    text-align: center;
}

a, p {
    font-family: "Cooper Black", Times, serif;
}

h3 {
    color: azure;
}

.row-team {
    width: 250px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #2A1337;
    cursor: pointer;
}

a:hover {
    color: gray;
    font-weight: bold;
}

