<link rel="stylesheet" type="text/css" href="../../css/photo.css">
<body>
<div>
    <table>
        <tr>
            <td><img src="../../img/logomdp.jpg"></td>
            <td><img src="../../img/12227680_10153422078564118_2751725592892098354_n.jpg"></td>
        </tr>
        <tr>
            <td><img src="../../img/fotos31.png"></td>
            <td><img src="../../img/11222062_10153420564799118_6932642145852743683_n.jpg"></td>
        </tr>
    </table>
</div>
</body>
